.c-news-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.c-news-story {
  width: 44%;
  margin-bottom: 3.5rem;
}

.c-news-story__title {
  margin-bottom: .5rem;
}

.c-news-story__link {
  font-weight: 700;
  font-size: 11px;
  color: #fff;
}