.u-text-align-center {
  text-align: center;
}

.u-align-self--center {
  align-self: center;
}

.u-gradient--orange {
  background-image: linear-gradient(#ffc501, #ff9f17);
}

.u-img-fill-area {
  background-size: cover;
  background-position: center center;
}


.u-gradient--2 {
  background-image: linear-gradient(#5fc4bf, #28a7de);
}

.u-gradient--3 {
  background-image: linear-gradient(#93d4b0, #a6c5ec);
}

.u-gradient--4 {
  background-image: linear-gradient(#b3c6ce, #fdce05);
}

.u-gradient--5 {
  background-image: linear-gradient(#98c2dc, #cedc2d);
}

.u-gradient--6 {
  background-image: linear-gradient(#cddc47, #c2d8bf);
}

.u-gradient--7 {
  background-image: linear-gradient(#dce7da, #d7e5f1);
}

.u-gradient--8 {
  background-image: linear-gradient(#ffc600, #ffa315);
}

.u-gradient--9 {
  background-image: linear-gradient(#94bee5, #94bee5);
}

.u-gradient--10 {
  background-image: linear-gradient(#f5b22b, #f5b22b);
}

.u-gradient--11 {
  background-image: linear-gradient(#98c2dc, #cedc2d);
}

.u-gradient--12 {
  background-image: linear-gradient(#af3c39, #af3c39);
}

.u-gradient--13 {
  background-image: linear-gradient(#3873b8, #65a5d9);
}

.u-gradient--14 {
  background-image: linear-gradient(#cddc47, #bdd7ef);
}

.u-gradient--15 {
  background-image: linear-gradient(#231f20, #4f4f51);
}

.u-gradient--16 {
  background-image: linear-gradient(#fdce06, #a8c5ea);
}

.u-gradient--17 {
  background-image: linear-gradient(#fdce06, #a8c5ea);
}

.u-body-copy {
  font-size: .875rem;
  line-height: 1.25rem;
}

.u-med-text,
.u-body-copy {

  h3 {
    margin-bottom: .5rem;
  }

  p,
  ul {
    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  li {
    &:not(:last-child) {
      margin-bottom: .5rem;
    }
  }
}

.u-med-text {
  font-family: $siteFont;
  font-size: 1.3125rem;
  line-height: 1.6125rem;
}

.u-blue-text {
  color: $blue;
}

.u-white-text {
  color: #fff;
}

.u-see-through {
  background: transparent;
}

.u-heading--minor {
  margin-bottom: .25rem;
}

.u-text--black {
  color: #000;
}

.u-circle {
  border-radius: 50%;
}

.u-fixed {
  @media #{$medium} {
    position: fixed;
    z-index: 2000;
  }
}

.u-hide\@med {
  @media #{$medium} {
    display: none;
  }
}

.u-show\@med {
  visibility: hidden;
  z-index: -9999;
  height: 0 !important;
  overflow: hidden;
  @media #{$medium} {
    visibility: visible;
    z-index:1;
    height: 100% !important;
  }
}


.u-no-overflow {
  overflow: scroll !important;

  @media #{$medium} {
    overflow: hidden !important;
  }
}

.hide-me {
  opacity: 0;
}

.show-me {
  opacity: 1 !important;
}